requests==2.32.3
websocket-client==1.8.0
python-socketio[client]==5.11.3
mss==9.0.1
opencv-python==4.10.0.84
Pillow==10.4.0
psutil==6.0.0
pyautogui==0.9.54
pynput==1.7.7
pyperclip==1.9.0
pystray==0.19.5
pyinstaller==6.9.0
PySide6==6.7.2

# WebRTC dependencies
aiortc==1.9.0
av==12.3.0
numpy==2.0.1
sounddevice==0.4.7
pyaudio==0.2.14